state-machines/amend-pizza.json
{
  "Comment": "Allows user to amend an order for a pizza.",
  "name": "Amend Order",
  "version": "1.0",
  "categories": [
    "pizza"
  ],
  "StartAt": "FindingById",
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$.boardKeys.pizzaId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "pizza_pizzaForm",
        "dataPath": "$"
      },
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "pizza_customer",
      "allows": [
        "*"
      ]
    }
  ]
}
