state-machines/cancel-order.json
{
  "Comment": "Allows user or pizza people to cancel an order for a pizza.",
  "name": "Cancel Order",
  "version": "1.0",
  "categories": [
    "pizza"
  ],
  "StartAt": "FindingById",
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$.boardKeys.pizzaId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "ResultPath": "$",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "pizza_cancelForm",
        "dataPath": "$"
      },
      "Next": "SetStatusCancelled"
    },
    "SetStatusCancelled": {
      "Type": "Pass",
      "Result": "CANCELLED",
      "ResultPath": "$.status",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "pizza_customer",
      "allows": [
        "*"
      ]
    },
    {
      "roleId": "pizza_chef",
      "allows": [
        "*"
      ]
    }
  ]
}
