state-machines/order-pizza.json
{
  "Comment": "Allows user to place an order for a pizza.",
  "name": "Place Order",
  "version": "1.0",
  "canBeStartedOffline": true,
  "categories": [
    "pizza"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "pizza_pizzaForm",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "Next": "PizzaDescription"
    },
    "PizzaDescription": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "pizzaDescription"
      },
      "Next": "WatchBoard"
    },
    "WatchBoard": {
      "Type": "Task",
      "Parameters": {
        "stateMachineName": "pizza_viewPizza_1_0",
        "title": "Ordered pizza",
        "description.$": "$.description",
        "category": "pizza",
        "categoryLabel": "Pizza",
        "boardKeys": {
          "pizzaId.$": "$.idProperties.id"
        }
      },
      "Resource": "module:watchBoard",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "pizza_customer",
      "allows": [
        "*"
      ]
    }
  ]
}
