state-machines/order-pizza.json
{
  "Comment": "Allows user to place an order for a pizza.",
  "name": "Place Order",
  "version": "1.0",
  "categories": [
    "pizza"
  ],
  "instigators": [
    "user"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "pizza_pizzaForm",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "Next": "GetWatchBoardInputs"
    },
    "GetWatchBoardInputs": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "getWatchBoardInputs"
      },
      "Next": "WatchBoard"
    },
    "WatchBoard": {
      "Type": "Task",
      "InputPath": "$.watchBoard",
      "Resource": "module:watchBoard",
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "pizza_customer",
      "allows": [
        "*"
      ]
    }
  ]
}
