state-machines/update-status.json
{
  "Comment": "Allows the pizza people to update the status of the order.",
  "name": "Update Status",
  "version": "1.0",
  "categories": [
    "pizza"
  ],
  "StartAt": "AwaitingHumanInput",
  "States": {
    "FindingById": {
      "Type": "Task",
      "InputPath": "$.pizzaId",
      "Resource": "module:findingById",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "ResultPath": "$.formData",
      "Next": "AwaitingHumanInput"
    },
    "AwaitingHumanInput": {
      "Type": "Task",
      "Resource": "module:awaitingHumanInput",
      "ResourceConfig": {
        "uiType": "form",
        "uiName": "pizza_updateStatusForm",
        "dataPath": "$.formData"
      },
      "ResultPath": "$.formData",
      "Next": "Upserting"
    },
    "SetStatus": {
      "Type": "Task",
      "Resource": "module:runFunction",
      "ResourceConfig": {
        "functionName": "setStatus"
      },
      "Next": "Upserting"
    },
    "Upserting": {
      "Type": "Task",
      "InputPath": "$.formData",
      "Resource": "module:upserting",
      "ResourceConfig": {
        "modelId": "pizza"
      },
      "End": true
    }
  },
  "restrictions": [
    {
      "roleId": "pizza_chef",
      "allows": [
        "*"
      ]
    }
  ]
}
